/* Remove margins and padding on page */
body {
    padding: 0;
    margin: 0;
}

/* Make Map whole page */
#map,
body,
html {
height: 100%;
font-family:Georgia, 'Times New Roman', Times, serif;
}

/* Dropdown menu text */
.dropdown-menu a {
    font-size: 16px;
}

/* Make dropdown smaller */
.dropdown-menu {         
    max-height: 150px;
    overflow-y: auto;
}

/* Dropdown buttons */
.dropdown button {
    /* margin-left: 10px;
    margin-right: 10px; */
    margin-bottom: 20px;
    background-color: #E4E4ED;
    border-color: black;
    color: black;

}

/* Table Headers */
#table-area th {
    text-align: center;
}

/* Table Area */
#table-area {
    margin-left: 10px;
    margin-right: 10px;
    /* display: inline-block; */
    
}

/* Box for filters */
#filter-box {
    margin-top: 10px;
    /* margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px; */
    background-color: #FFEECF;
}

/* When button is selected */
.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
    background-color: #e4e4ed8f;
    border-color: white;
}

/* Calculations Buttons */
.btn-light {
    background-color: #E4E4ED;
    border-color: black;
    margin-bottom: 20px;
}

/* Plot */
#myDiv {
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;

}

#lineChart {
    margin-top: 0px;
    margin-bottom: 80px;
    margin-left: 30px;
    margin-right: 30px;
}

/* Options box */
.options-box {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Buttons */
button {
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
}

/* Reset button */
#reset-button {
    display: inline-block;
    float: left;
    /* margin-top: 20px; */
    margin-bottom: 20px;
    /* margin-right: 20px; */
    /* margin-left: 20px;  */

}

/* Subtitles for filter */
#filter-subtitle {
    color: black;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* Jumbotron */
.jumbotron {
    padding: 5px;
    margin-bottom: 0px;

}

/* Jumbotron Title */
.jumbotron h1 {
    font-size: 40px;
    margin-top: 20px;
}


/* For media query */
@media (max-width: 700px) {

#table-area tbody td {
    display: block;
    text-align: center;
}
}

@media (max-width: 991px) {
.btn-responsive {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
    
}
.col-md-2 {
    padding-left: 0px;
}
}

@media (min-width: 769px) and (max-width: 1173px) {
.btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
}
}


